@{
    ViewBag.Title = "登录";
    Layout = null;
}
<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>米迹</title>
    @System.Web.Optimization.Styles.Render("~/Content/amazeui")

    <style>
        .header {
            text-align: center;
        }

            .header h1 {
                font-size: 200%;
                color: #333;
                margin-top: 30px;
            }

            .header p {
                font-size: 14px;
            }
    </style>
</head>
<body>
    <div class="header">
        <div class="am-g">
            <h1>米 迹</h1>
            <p>内测版</p>
        </div>
        <hr>
    </div>
    <div class="am-g">
        <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">

            <br>
            <div class="am-form am-form-horizontal">
                <form method="post" class="am-form" id="login">
                    <div class="am-form-group">
                        <label class="am-u-sm-12 am-u-md-3 am-form-label amu" for="username">账号:</label>

                        <div class="am-u-sm-12 am-u-md-9">
                            <input type="text" name="username" id="username" value="">
                        </div>
                    </div>
                    <br>
                    <div class="am-form-group">
                        <label class="am-u-sm-12 am-u-md-3 am-form-label amu" for="passwd">密码:</label>
                        <div class="am-u-sm-12 am-u-md-9">
                            <input type="password" name="passwd" id="passwd" value="">
                        </div>
                    </div>
                    <br>
                    <div class="am-form-group">
                        <div class="am-u-sm-12 am-u-md-9 am-u-md-push-3">
                            <input type="button" value="登 录" id="loginBtn" class="am-btn am-btn-primary  am-btn-block ">
                        </div>
                    </div>
                </form>
            </div>
            <hr>
            <p>© @(DateTime.Now.Year) 米客</p>
        </div>
    </div>

    @System.Web.Optimization.Scripts.Render("~/bundles/jquery")
    @System.Web.Optimization.Scripts.Render("~/bundles/Amaze")
    @System.Web.Optimization.Scripts.Render("~/Scripts/jquery.validate.js")
    @System.Web.Optimization.Scripts.Render("~/Scripts/layer/layer.js")
    @System.Web.Optimization.Scripts.Render("~/Scripts/Init/Main.js")
    <script>
        $(function (parameters) {
            $('#loginBtn').on('click', function () {
                $("form#login").submit();
            });
            var progress = $.AMUI.progress;
            // Validation and Ajax action
            $("form#login").validate({
                rules: {
                    username: {
                        required: true
                    },

                    passwd: {
                        required: true
                    }
                },

                messages: {
                    username: {
                        required: '请输入账号.'
                    },

                    passwd: {
                        required: '请输入密码.'
                    }
                },

                // Form Processing via AJAX
                submitHandler: function (form) {

                    progress.start();

                    var opts = {
                        "closeButton": true,
                        "debug": false,
                        "positionClass": "toast-top-full-width",
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    };

                    $.ajax({
                        url: "/login/In",
                        method: 'POST',
                        dataType: 'json',
                        data: {
                            accountName: $(form).find('#username').val(),
                            password: $(form).find('#passwd').val(),
                        },
                        success: function (resp) {
                            progress.done();
                            // Redirect after successful login page (when progress bar reaches 100%)
                            if (resp.Flag) {
                                mainUtility.alert('登录成功!');
                                window.location.href = '/home/index';
                            }
                            else {
                                mainUtility.alert(resp.Message);
                                $('#passwd').select();
                            }

                        }
                    });

                }
            });

            // Set Form focus
            $("form#login .form-group:has(.form-control):first .form-control").focus();
        });
    </script>
</body>
</html>