@model List<Eagle.ViewModel.ShowBranch>
@{
    ViewBag.title = "米迹";
}

@section MainMenu{
    <!-- ko  stopBinding: true-->
    @Html.React("LeftMenu", new
{
    initialData = Model,
})
<!-- /ko-->
}

<!-- ko  stopBinding: true-->
@Html.React("PageTitle", new
{
    title= "主页",
    description= "什么都没留下 =_=",
})
<!-- /ko-->

<!-- ko  stopBinding: true-->
@Html.React("MainPage", new
{
},containerId:"MainPage")
<!-- /ko-->

@section PageScript{
    <script>
        ko.bindingHandlers.stopBinding = {
            init: function () {
                return { controlsDescendantBindings: true };
            }
        };

        ko.virtualElements.allowedBindings.stopBinding = true;
        var mainModel =  {
            detail: ko.observable('<div >xx</div>')
        };
        $(function () {

             ko.applyBindings(mainModel, $('#MainPart')[0]);
        });
    </script>

    @System.Web.Optimization.Scripts.Render("~/Modular/Home/Main.jsx")
    @Html.ReactInitJavaScript()
}
